* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
    /*max-width: 1000px;*/
    margin: 10px;

}
h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

h2{
    padding-top: 15px;
    padding-bottom: 15px;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.list-table table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 4px;
}

table th{
    padding: 16px;
    text-align: center;
    font-size: .85em;
}

.list-table--edit{
    background: #009688;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.list-table--delete{
    background: #b11e1e;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}


.users-form form{
    display: flex;
    flex-direction: column;
    /*gap: 45px;*/
    width: 100%;
    text-align: left;
}

.users-form form select{
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    width: 100%;
    font-size: medium;
    padding-left: 5px;
    box-sizing: border-box;
    border:2px solid #aaa;
    height: 30px;
    border-radius:4px;
    outline:none;
    transition:.3s;
    margin-top: 5px;
    margin-bottom: 15px;
}

.users-form form input[type=file]{
    width: 100%;
    height: 30px;
    border: 0px;
    background-color: #e8e8e8;
}

.users-form form input[type=file]:focus
{
    border-color:dodgerBlue;
    box-shadow:0 0 6px 0 dodgerBlue;
}

.users-form form input{
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    font-size: medium;
    padding-left: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

.users-form form input{
    border:2px solid #aaa;
    height: 30px;
    border-radius:4px;
    outline:none;
    transition:.3s;
    margin-top: 5px;
    margin-bottom: 15px;
}

.users-form form input:focus
{
    border-color:dodgerBlue;
    box-shadow:0 0 6px 0 dodgerBlue;
}

.users-form form select:focus
{
    border-color:dodgerBlue;
    box-shadow:0 0 6px 0 dodgerBlue;
}

.users-form form input[type=submit]{
    border: none;
    padding: 12px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border: 2px solid #60a100;
    height: 40px;
    width: 100%;
}

.users-form form input[type=submit]:hover {
    background-color: #60a100;
    color: white;
}

.users-form form fieldset{
    padding: 15px;
}

.centerb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirm-delete form input[type=submit]{
    border: none;
    padding: 12px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border: 2px solid hsl(9, 100%, 32%);
    height: 40px;
}

.confirm-delete form input[type=submit]:hover {
    background-color: hsl(9, 100%, 32%);
    color: white;
}