
.logo{
    height: 35px;
    position: absolute;
    padding: 8px 20px;
}

nav {
    background: #092327;
    height: 50px;
    width: 100%;
    max-width: 1050px;
    margin: auto;
}

nav ul{
    float: right;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.menu li a:hover{
    background: #ef8354;
    transition: .5s;
}